*
!.bash_aliases
!.bash_functions
!.bash_completions.d/
!.bash_completions.d/**
!.bash_logout
!.bashrc
!.claude/
!.claude/settings.json
!.config/
!.config/gh/
!.config/gh/config.yml
!.config/nvim/
!.config/nvim/lua/
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/colorscheme.lua
!.config/nvim/spell/
!.config/nvim/spell/**
!.config/starship.toml
!.config/wireplumber/
!.config/wireplumber/bluetooth.lua.d/
!.config/wireplumber/bluetooth.lua.d/**
!.claude/
!.claude/settings.json
!.cvsignore
!.dircolors
!.gitconfig
!.github/
!.github/README.md
!/.gitignore
!.local/
!.local/bin/
!.local/bin/bootstrap-dotfiles
!.local/bin/start-issue
!.local/bin/markdownlint-cli2
!.local/etc/
!.local/etc/settings.json
!.profile
!.selected_editor
!.tmux.conf
!.vimrc
