*
!.bash_aliases
!.bash_functions
!.bash_completions.d/
!.bash_completions.d/**
!.bash_logout
!.bashrc
!.config/
!.config/gh/
!.config/gh/config.yml
!.config/nvim/
!.config/nvim/**
!.claude/
!.claude/settings.json
!.cvsignore
!.dircolors
!.gitconfig
!README.md
!.gitignore
!.local/
!.local/bin/
!.local/bin/bootstrap-dotfiles
!.local/bin/markdownlint-cli2
!.local/etc/
!.local/etc/settings.json
!.profile
!.selected_editor
!.tmux.conf
!.vimrc
